{% load static %}
<!DOCTYPE html>
<html>
    <div class="pageview">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat">
            <title>BLOG PROJECT</title>
        </head>

    
        <body>
            
                <header class="w3-container w3-center w3-padding-32"> 
                    <h1><b>PROJETO BLOG</b></h1>
                    <p>Bem-vindo ao blog de <span class="w3-tag">Tainá Alves</span></p>
                </header>
            
                <a href="{% url 'blog:post_new' %}"><span>teste</span></a>

            <div class="containerpostboxmodel">
                {% for post in posts %}  <!-- for para exibir posts-->
                <div class="blogpost">
                    <img src="{% static post.cover %}" alt="Minha Imagem" class="centeredimages">
                    <span class="titlepost"><a href="{% url 'blog:post_detail' pk=post.pk %}">{{post.title}}</a></span>
                    <span class="bodypost">{{post.body}}</span>
                    <span class="datepost">{{post.published_date}}</span>
                </div>
                {% endfor %}  
            </div>
    </div>
</html>