{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <style>
        body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        </style>
        <title>BLOG PROJECT</title>
    </head>


    <body>
        
            <header class="w3-container w3-center w3-padding-32"> 
                <h1><b>PROJETO BLOG</b></h1>
                <p>Bem-vindo ao blog de <span class="w3-tag">Tainá Alves</span></p>
            </header>

            
            {% for post in posts %}
                <div class="layout">
                    <h3><b>{{post.title}}</b></h3>
                    <h5>{{post.body}}, <span class="w3-opacity">{{post.published_date}}</span></h5>
                </div>
            {% endfor %} 

        </section>
    </body>
   


</html>