.centeredimages {
  position: relative;
  width: 100%;
  height: 40%;
  object-fit: cover;
}

.containerblog{
  display: flex;
  flex-wrap: wrap;
  padding: 100px;
  margin: 10px;
  justify-content: space-between;
  }

.postblog {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 60px;
  vertical-align: top;
  width: 350px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.993); /*   Cor de fundo dos posts */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Sombra preta suave */
}


.bodyblog {
  display:block;
  color:rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
  text-align: justify;
}

.titleblog {
  display: block;
  color:rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 20px;  
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
}

.dateblog {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
}
