.style {
  width: 400px;
  height: 800px;
  margin: 10px; /* Adicione margem para separar os posts */
  padding: 20px; /* Adicionar espaço interno aos posts */
  background-color: #f5f5f5; /* Cor de fundo dos posts */
  border-radius: 10px; /* Borda arredondada */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
  vertical-align: top; /* Alinhar os posts no topo */
  text-align: center;
}

.containerblog {
  display: inline-block;
  margin-top:2%;
  vertical-align: top;
}