.style {
  width: 400px;
  height: 600px;
  margin: 30px; /* Adicione ma  rgem para separar os posts */
  padding: 10px; /* Adicionar espaço interno aos posts */
  background-color: #f5f5f596; /* Cor de fundo dos posts */
  border-radius: 10px; /* Borda arredondada */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
  vertical-align: top; /* Alinhar os posts no topo */
  text-align: justify;
  font-size: 15px;
}



.containerblog {
  display: inline-block;
  margin-top:1%;
  vertical-align: top;
}

.pagestyle {
  background-color:lightskyblue;
}